.bookmark-edit-grid-columns {
  display: grid;
  gap: 0.25rem;
  grid-template-columns:
    2rem
    2rem
    12rem
    10rem
    minmax(15rem, 25rem)
    minmax(12rem, 1fr)
    2rem;
}
.bookmark-group-edit-grid-columns {
  display: grid;
  gap: 0.25rem;
  grid-template-columns:
    2rem
    2rem
    minmax(4rem, 16rem)
    minmax(16rem, 1fr)
    2rem
    2rem;
}
