@import "tailwindcss" source(".");

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-border-muted: var(--border-muted);
  --color-border-muted-hover: var(--border-muted-hover);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-hover: var(--primary-foreground-hover);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-foreground-hover: var(--destructive-foreground-hover);
}

[data-theme="dark"] {
  --background: var(--color-slate-700);
  --background-hover: var(--color-slate-600);
  --foreground: var(--color-slate-100);

  --surface: var(--color-slate-600);
  --surface-foreground: var(--color-slate-100);

  --muted: var(--color-slate-800);
  --muted-foreground: var(--color-slate-500);

  --border: var(--color-slate-900);
  --border-hover: var(--color-slate-500);
  --border-muted: var(--color-slate-600);
  --border-muted-hover: var(--color-slate-400);

  --primary: var(--color-taupe-700);
  --primary-foreground: var(--color-amber-400);
  --primary-foreground-hover: var(--color-amber-300);

  --secondary: var(--color-mist-700);
  --secondary-foreground: var(--color-cyan-400);

  --accent: var(--color-slate-600);
  --accent-foreground: var(--color-slate-100);

  --success: var(--color-mist-700);
  --success-foreground: var(--color-green-400);

  --info: var(--color-mist-700);
  --info-foreground: var(--color-cyan-400);

  --warning: var(--color-taupe-700);
  --warning-foreground: var(--color-yellow-400);

  --destructive: var(--color-mauve-700);
  --destructive-foreground: var(--color-red-400);
  --destructive-foreground-hover: var(--color-red-300);
}

html,
body {
  @apply bg-background;
  @apply text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.page-framework {
  @apply w-[95%] md:w-[91%] lg:w-[88%] xl:w-[86%] 2xl:w-[85%];
  @apply md:min-w-[45.6rem] lg:min-w-[58.24rem] xl:min-w-[70.4rem] 2xl:min-w-[82.56rem];
  @apply 2xl:max-w-384 mx-auto;
  @apply my-16;
}
